html,body {
  height:100%;
  margin:0;
}
.page {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#17b794;
  position:relative;

}
.menu {
  width:20%;
  height:40%;
  position:relative;
  z-index:1;
}

.menu label {
  height:20%;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:#FFF;
  text-transform:uppercase;
  background-color:#22267b;
  cursor:pointer;
  font-family:Helvetica,Sans-serif;
  letter-spacing:4px;
  font-size:120%;
}
.menu label:nth-of-type(2) {
  background-color:#1d2069;
}
.menu label:nth-of-type(3) {
  background-color:#181b56;
}
.menu label:nth-of-type(4) {
  background-color:#131544;
}
.menu label:nth-of-type(5) {
  background-color:#0e0f31;
}

.menu input[type=radio] {
  visibility:hidden;
}
.menu input[type=radio]:nth-of-type(2):checked ~ .active {
  top:20%;
  background-color:#1d2069;
}
.menu input[type=radio]:nth-of-type(3):checked ~ .active {
  top:40%;
  background-color:#181b56;
}
.menu input[type=radio]:nth-of-type(4):checked ~ .active {
  top:60%;
  background-color:#131544;
}
.menu input[type=radio]:nth-of-type(5):checked ~ .active {
  top:80%;
  background-color:#0e0f31;
}

.menu .active {
  position:absolute;
  width:100%;
  padding:0 15px;
  margin-left:-15px;
  top:0;
  height:20%;
  z-index:-1;
  transition:all .3s;
  background-color:#22267b;
  border-radius:3px;
}